*{margin: 0; padding: 0;}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

.menu{
    list-style:none;
    /*border:1px solid #c0c0c0;*/
    /*float:left;*/
}

.menu li{
    position:relative;
    /*float:left;*/

}

.menu li a{
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}

.menu li a:hover{
    background:#333;
    color:#fff;
    /*-moz-box-shadow:0 3px 10px 0 #CCC;*/
    /*-webkit-box-shadow:0 3px 10px 0 #ccc;*/
    /*text-shadow:0px 0px 5px #fff;*/
}

.menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

.nav {
    display: block;
    /*height: 25px;*/
}



.rooms-list {
    list-style: none;
}

.ui-layout-north {
    padding: 0 !important;
    z-index: 50 !important;
    overflow: visible !important;
}

.rooms-window {
    height: 50%;
    padding: 10px;
}
.properties-window {
    padding: 10px;
    height: 50%;
    border-top: 1px solid #c0c0c0;
}

.ui-layout-west {
    padding: 0 !important;
}

.ui-layout-north {
    padding: 0 !important;
}

.ui-layout-south {
    padding: 0 !important;
}

.ui-layout-center {
    padding: 0 !important;
}
.rooms-list-item:hover {
    background:#333;
    color:#fff;
    cursor: pointer;
}

.room-selected {
    background-color: #B7C8B5;
}

.room-unselected {
    background-color: #C5EBC3;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item {
    padding: 5px;
}

.treeview span.indent {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.accordion-button {
    cursor: pointer;
    background-color: #875C74;
    color: #54414E;
}

.list-group-item .node-game-tree .node-selected {
    background-color: #C5EBC3!important;
    color: #54414E!important;   
}

.character-selected {
    background-color: #B7C8B5;
}

.character-unselected {
    background-color: #C5EBC3;
}

/*
#C5EBC3
#B7C8B5
#A790A5
#875C74
#54414E
*/