*{margin: 0; padding: 0;}

@font-face {
    font-family: 'silkscreen'; /*a name to be used later*/
    src: url('../fonts/slkscre.ttf');
    /*src: url('../font/04B_30__.TTF'); */
    /*src: url('../font/digiffiti.ttf');*//
    /*src: url('../font/thin_pixel-7.ttf');*/
    /*src: url('../font/V5Xtende.ttf');*/
}

/*
back: #F9F8F8;
button-strong: #7E7F9A; 
room-selected : #F3DE8A
room-unselected : #BEC0DB
room-list-item:hover #F3DE8A;
*/

body{
    /*font-family: arial, helvetica, sans-serif;*/
    font-family: 'silkscreen';
    font-size: 12px;
}

.menu{
    width: 55;
    list-style:none;
    margin-bottom: 0px;
    display: inline-block;
    /*border:1px solid #c0c0c0;*/

    /*float:left;*/
}

.menu li{
    position:relative;
    /*float:left;*/

}

.menu li a{
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}

.menu li a:hover{
    background:#BEC0DB;
    color:#fff;
    /*-moz-box-shadow:0 3px 10px 0 #CCC;*/
    /*-webkit-box-shadow:0 3px 10px 0 #ccc;*/
    /*text-shadow:0px 0px 5px #fff;*/
}

.menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

.nav {
    display: block;
    /*height: 25px;*/
}



.rooms-list {
    list-style: none;
}

.rooms-window {
    height: 50%;
    padding: 10px;
}
.properties-window {
    padding: 10px;
    height: 50%;
    border-top: 1px solid #c0c0c0;
}

.ui-layout-west {
    padding: 0 !important;
    background-color: #F9F8F8!important;
}

.ui-layout-north {
    padding: 0 !important;
    z-index: 50 !important;
    overflow: visible !important;
    padding: 0 !important;
    background-color: #F9F8F8!important;
}

.ui-layout-south {
    padding: 0 !important;
    background-color: #F9F8F8!important;
}

.ui-layout-center {
    padding: 0 !important;
}

.accordion-tools {
    margin-left: 110px;
}

.rooms-list-item {
    margin: 2px;
    padding-left: 8px;
    border: 1px solid #ccc;
}

.rooms-list-item:hover {
    background-color:#F3DE8A;
    color:#fff;
    cursor: pointer;
}


.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.list-group-item {
    padding: 5px;
}

.treeview span.indent {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.accordion-button {
    cursor: pointer;
    background-color: #7E7F9A;
    color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

.list-group-item .node-game-tree .node-selected {
    background-color: #C5EBC3!important;
    color: #54414E!important;   
}


.element-selected {
    background-color: #CADED9;
}

.element-unselected {
    background-color: #F0FAFA;
}

.run-button {
    width: 100px;
    display: inline-block;
}

.run-button a:hover {
    background-color: #C5EBC3;
    text-decoration: none;
}

.run-buttton a {
    text-decoration: none;
    color:#333;

}

.spinner-float {
    width: 35px;
}

.ui-spinner-button {
    cursor: pointer;
}

/*
https://coolors.co/272838-f3de8a-eb9486-7e7f9a-f9f8f8
https://coolors.co/ecba82-81c14b-2e933c-297045-204e4a
https://coolors.co/b38cb4-b7918c-c5a48a-ddc67b-f8f272
https://coolors.co/729ea1-b5bd89-dfbe99-ec9192-db5375
https://coolors.co/e56399-d3a588-ece2d0-7fd1b9-7a6563
https://coolors.co/a2faa3-92c9b1-4f759b-5d5179-571f4e*/

/*
#C5EBC3
#B7C8B5
#A790A5
#875C74
#54414E

https://coolors.co/132a13-31572c-4f772d-90a955-ecf39e
https://coolors.co/app/809bce-95b8d1-b8e0d2-d6eadf-eac4d5
https://coolors.co/app/c1dbe3-c7dfc5-f6feaa-fce694-373737
*/

/*http://online.boscaceoil.net/#!/track/AUeVoGwhP3*/