<!DOCTYPE html>
<html ng-app="adventureApp">
  <head>
    <title>Aventura Engine</title>
      <script src="js/third/jquery-1.11.3.min.js"></script>
      <script src="js/third/jquery.layout-latest.js"></script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css"  href="css/style.css" />
      <link rel="stylesheet" type="text/css"  href="css/font-awesome.min.css" />


      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

      <script src="js/util/ns.js"></script>
      <!--<script src="js/fabric.js"></script>
      <script src="js/fabric.canvasex.js"></script>
      <script src="js/fabricjs_viewport.js"></script>-->

      <script src="js/third/paper-full.js"></script>


      <script src="js/third/bootbox.min.js"></script>
      <script src="js/third/bootstrap-treeview.min.js"></script>
      <script src="js/third/jquery.awesome-cursor.min.js"></script>

      <script src="js/util/dbc.js"></script>
      <script src="js/controller/app.js"></script>
      <script src="js/service/file_service.js"></script>
      <script src="js/service/input_service.js"></script>
      <script src="js/service/canvas_service.js"></script>
      <script src="js/service/game_service.js"></script>
      <script src="js/service/preview_service.js"></script>
      <script src="js/model/walkable_area.js"></script>
      <script src="js/model/clickable_area.js"></script>
      <script src="js/drawing/draw_interaction.js"></script>
      <script src="js/drawing/draw_tool.js"></script>
      <script src="js/drawing/editor_canvas.js"></script>
      <script src="js/controller/main_controller.js"></script>
      <script src="js/controller/character_controller.js"></script>
      <script src="js/model/game_room.js"></script>
      <script src="js/model/sprite_sheet.js"></script>
      <script src="js/model/character.js"></script>
      <script src="js/model/inventory_item.js"></script>
      <script src="js/model/adventure_game.js"></script>
      

      <script>
          $(document).ready(function () {
              $('body').layout({
                  applyDefaultStyles: true,
                  west__size:			150,
                  west__minSize:				100

                  ,	west__spacing_closed:			1
                  ,	west__spacing_open:				1
                  ,	west__togglerLength_closed:		100
                  ,	west__togglerLength_open:		100
                  , north__size:			27
                  , north__minSize:				27
                  ,	north__spacing_closed:			1
                  ,	north__spacing_open:				1
                  ,	north__togglerLength_closed:		100
                  ,	north__togglerLength_open:		100
                  , south__size:      27
                  , south__minSize:       27
                  , south__spacing_closed:      1
                  , south__spacing_open:        1
                  , south__togglerLength_closed:    100
                  , south__togglerLength_open:    100

              });

              $( ".accordion" ).accordion({
                collapsible: true,
                heightStyle: "fill"
              });

              $(".spinner-float").spinner({
                step: 0.01,                
                numberFormat: "n"
              });

              

              
              //$('body').awesomeCursor('pencil');

              //$("#newGameButton").click(mainController.makeNewGame.bind(mainController));
          });
      </script>
  </head>
  <body ng-controller="MainController as mainController">
  <div class="ui-layout-north">
    <div>
      <div class="menu">
        <ul>
          <li><a href="#">game</a>
              <ul>
                  <li><a ng-click="mainController.makeNewGame()" href="#">new</a></li>
                  <li><a ng-click="mainController.openGame()" href="#">open</a></li>
                  <li><a ng-click="mainController.save()" href="#">save</a></li>
                  <li><a ng-click="mainController.saveAs()" href="#">save as</a></li>
                  <li><a href="#">exit</a></li>
              </ul>
          </li>
        </ul> 
      </div>

      <div class="run-button">
        <a ng-click="mainController.runGame()" href="#">Run</a>
      </div>
      <div class="run-button">
        <a ng-click="mainController.liveReload()" href="#">Reload</a>
      </div>
    </div>

  </div>

    <div class="ui-layout-west">

        <div class="rooms-window">
          <div class="accordion">
            <div class="accordion-button">Rooms</div>
            <div id="rooms">
              <div class="accordion-tools"><a ng-click="mainController.createNewRoom()" href="">+</a></div>
              <ul class="rooms-list">
                <li class="rooms-list-item element-{{mainController.getElementStyle(room)}}" ng-repeat="room in mainController.getActualGame().getRooms()" ng-click="mainController.setSelectedRoom(room)">
                    <span>{{room.name}}</span>
                </li>
              </ul>
              <!--<div id="game-tree"></div>-->
            </div>
            <div class="accordion-button">Character</div>
            <div id="characters">
              <div class="accordion-tools"><a ng-click="mainController.createNewCharacter()" href="">+</a></div>
              <ul class="rooms-list">
                <li class="rooms-list-item element-{{mainController.getElementStyle(character)}}" ng-repeat="character in mainController.getActualGame().getCharacters()" ng-click="mainController.setSelectedCharacter(character)">
                  <span>{{character.name}}</span>
                </li>
              </ul>
            </div>
            <div class="accordion-button">Items</div>
            <div id="items">
              <div class="accordion-tools"><a ng-click="mainController.createNewItem()" href="">+</a></div>
              <ul class="rooms-list">
                <li class="rooms-list-item element-{{mainController.getElementStyle(item)}}" ng-repeat="item in mainController.getActualGame().getItems()" ng-click="mainController.setSelectedItem(item)">
                  <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
            

          </div>
        </div>

        <div class="properties-window">
          <div ng-show="mainController.isElementSelected('room')">
            <ul>
                <li><label>room : </label><span>{{mainController.getActualGame().currentRoom.name}}</span></li>
                <li><label>bg: </label><a ng-click="mainController.askForBackground()" href="">..</a></li>
                <!--<output id="list"></output>-->
                <input id="bg-input" type="file" name="bg-input" style="display: none;" accept=".png,.jpg,.jpeg" /> 
                <li><label>clickable areas: </label><span>..</span></li>
                <li><label>walkable areas: </label><span><a ng-click="mainController.askForWalkableArea()" href="">..</a></span></li>
                <li><label>is initial room? </label><span><input type="checkbox"></span></li>
            </ul>
          </div>
          <div ng-show="mainController.isElementSelected('character')" ng-controller="CharacterController as characterController">
            <ul>
                <li><label>Name : </label><span>{{mainController.getActualGame().currentCharacter.name}}</span></li>
                <li><label>Start X: </label><input id="startX" class="spinner-float">
                <li><label>Start Y: </label><input id="startY" class="spinner-float">
                  <!--<a ng-click="mainController.askForStartPosition()" href="">..</a>-->
                </li>
                <li>
                  <label>Start room</label>
                  <select ng-model="characterController.startRoomSelected" ng-change="characterController.startRoomChanged()">
                   <option ng-repeat="room in mainController.getActualGame().rooms" value="{{room.name}}">{{room.name}}</option>
                  </select>
                </li>
                <li><label>Sprite: </label><a ng-click="mainController.askForCharacterSprite()" href="">..</a></li>
                <li>{{mainController.getActualGame().currentCharacter.spritePath}}</li>
                <img ng-src="{{mainController.getActualGame().getCurrentCharacterSprite()}}" width="130" height="30" alt="Sprite image">

                <input id="sprite-input" type="file" name="sprite-input" style="display: none;" accept=".png,.jpg,.jpeg" /> 
            </ul>
          </div>
          <div ng-show="mainController.isElementSelected('item')">
            <ul>
                <li><label>name : </label><span>{{mainController.getSelectedElement().element.getName()}}</span></li>
                <li><label>label : </label><span>{{mainController.getSelectedElement().element.getLabel()}}</span></li>
                <li><label>sprite: </label><a ng-click="mainController.askForItemSprite()" href="">..</a></li>
                <li>{{mainController.getSelectedElement().element.getSprite().getName()}}</li>
                <img ng-src="{{mainController.getItemSpritePath()}}" width="130" height="30" alt="item image">
                <input id="item-sprite-input" type="file" name="item-sprite-input" style="display: none;" accept=".png,.jpg,.jpeg" /> 
                <li><label>visible : </label><span>{{mainController.getSelectedElement().element.isVisible()}}</span></li>
                <li><label>x : </label><span>{{mainController.getSelectedElement().element.getPosition().x}}</span></li>
                <li><label>y : </label><span>{{mainController.getSelectedElement().element.getPosition().y}}</span></li>
            </ul>
          </div>
        </div>
    </div>

      <div class="ui-layout-center">
        <div>
          <div style="float:left">
            <canvas id="main-canvas"></canvas>
            <div id="image-placeholder"></div>
          </div>
          <div style="float:right">
            <!--<iframe id="game-preview" name="game-preview" width="600" height="600" 
              src="{{mainController.getActualGameIndex()}}"></iframe>              -->
          </div>
        </div>





      </div>

      <div class="ui-layout-south">
          <div style="float:left">
            <label>Game name: </label><span>{{mainController.getActualGame().name}}</span>
          </div>
          <div style="float:left; margin-left: 50px">
            <label>Width: </label><span>{{mainController.getActualGame().width}}</span>
            <label>Height: </label><span>{{mainController.getActualGame().height}}</span>
          </div>
          <div style="float:right">
            <label>Game folder: </label><span>{{mainController.getActualGame().folder}}</span>
          </div>
      </div>


  </body>
</html>