<!DOCTYPE html>
<html ng-app="adventureApp">
  <head>
    <title>Aventura Engine</title>
      <script src="js/jquery-1.11.3.min.js"></script>
      <script src="js/jquery.layout-latest.js"></script>
      <script type="text/javascript" src="js/closure-library-master/closure/goog/base.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css"  href="css/style.css" />

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

      <script src="js/fabric.min.js"></script>

      <script src="js/bootbox.min.js"></script>
      <script src="js/bootstrap-treeview.min.js"></script>

      <script src="js/app/dbc.js"></script>
      <script src="js/app/app.js"></script>
      <script src="js/app/file_service.js"></script>
      <script src="js/app/input_service.js"></script>
      <script src="js/app/main_controller.js"></script>
      <script src="js/app/game_room.js"></script>
      <script src="js/app/adventure_game.js"></script>
      

      <script>
          $(document).ready(function () {
              $('body').layout({
                  applyDefaultStyles: true,
                  west__size:			150,
                  west__minSize:				100

                  ,	west__spacing_closed:			1
                  ,	west__spacing_open:				1
                  ,	west__togglerLength_closed:		100
                  ,	west__togglerLength_open:		100
                  , north__size:			27
                  , north__minSize:				27
                  ,	north__spacing_closed:			1
                  ,	north__spacing_open:				1
                  ,	north__togglerLength_closed:		100
                  ,	north__togglerLength_open:		100
                  , south__size:      27
                  , south__minSize:       27
                  , south__spacing_closed:      1
                  , south__spacing_open:        1
                  , south__togglerLength_closed:    100
                  , south__togglerLength_open:    100

              });
              

              //$("#newGameButton").click(mainController.makeNewGame.bind(mainController));
          });
      </script>
  </head>
  <body ng-controller="MainController as mainController">
  <div class="ui-layout-north">
      <ul class="menu">
          <li><a href="#">game</a>
              <ul>
                  <li><a ng-click="mainController.makeNewGame()" href="#">new</a></li>
                  <li><a href="#">save</a></li>
                  <li><a href="#">save as</a></li>
                  <li><a href="#">exit</a></li>
              </ul>
          </li>
      </ul>
  </div>

    <div class="ui-layout-west">
        <div class="rooms-window">
            <ul class="rooms-list">
                <li>
                    rooms
                    <span style="float:right"><a ng-click="mainController.createNewRoom()" href="">+</a></span>
                </li>
                <!--<li class="rooms-list-item room-{{mainController.getRoomStyle(room)}}" ng-repeat="room in mainController.actualGame.rooms" ng-click="mainController.setSelectedRoom(room)">
                    <span>{{room}}</span>
                </li>-->



            </ul>
            <div id="game-tree"></div>
        </div>

        <div class="properties-window">
            <ul>
                <li><label>room : </label><span>{{mainController.actualGame.currentRoom.name}}</span></li>
                <li><label>bg: </label><a ng-click="mainController.askForBackground()" href="">..</a></li>
                <output id="list"></output>
                <input id="bg-input" type="file" name="bg-input" style="display: none;" accept=".png,.jpg,.jpeg" /> 
                <li><label>clickable areas: </label><span>..</span></li>

            </ul>
        </div>
    </div>

      <div class="ui-layout-center">
        <canvas id="main-canvas"></canvas>
          
          <!--<img ng-src="{{mainController.actualGame.getCurrentRoomBg()}}" alt="Game image" >
-->
          <!--<img src="C:/Users/Aniceto/workspace/aventura/desktop/game-folder/Chrysanthemum.jpg" />-->

          <!--<img ng-src="c:/users/aniceto/workspace/aventura/desktop/game-folder/Desert.jpg" alt="Game image" />-->



      </div>

      <div class="ui-layout-south">
          <div style="float:left">
            <label>Game name: </label><span>{{mainController.actualGame.name}}</span>
          </div>
          <div style="float:left; margin-left: 50px">
            <label>Width: </label><span>{{mainController.actualGame.width}}</span>
            <label>Height: </label><span>{{mainController.actualGame.height}}</span>
          </div>
          <div style="float:right">
            <label>Game folder: </label><span>{{mainController.actualGame.folder}}</span>
          </div>
      </div>


  </body>
</html>